<a href="https://colab.research.google.com/github/MKolaksazov/Data-Science/blob/main/matplotlib_fluo_calc_app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fluorescence data app
###prompt fluorescence

# 10.07 exp_0703.txt -> .csv
# or: remove the first four lines !!!

Upload .csv flie

In [ ]:
import io

from google.colab import files
uploaded = files.upload()

Saving exp_0703.txt to exp_0703.txt

import libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

read csv and setting the delimiter and decimal separator

renaming column names

Dataset is now stored in a Pandas Dataframe

In [ ]:
# PAM
#df_PAM = pd.read_csv(io.BytesIO(uploaded['I_091204_091508.csv']), delimiter=';', decimal='.')
# delimiter -> tab (\t)
df_FluorPen = pd.read_csv("/content/exp_0703.txt", delimiter='\t', decimal='.')

In [ ]:
df_FluorPen

,index,1,2,3,4,5,6,7,8,9,...,176,177,178,179,180,181,182,183,184,Unnamed: 185
0,time,13:07:15 29.6.2023,13:07:36 29.6.2023,13:57:24 29.6.2023,13:57:46 29.6.2023,14:01:35 29.6.2023,14:01:52 29.6.2023,14:11:06 29.6.2023,14:30:11 29.6.2023,14:30:25 29.6.2023,...,12:20:46 3.7.2023,12:32:06 3.7.2023,12:43:05 3.7.2023,12:54:01 3.7.2023,13:02:04 3.7.2023,13:02:37 3.7.2023,13:03:36 3.7.2023,13:10:58 3.7.2023,13:46:14 3.7.2023,NaN
1,id,OJIP,NPQ3,OJIP,OJIP,OJIP,NPQ3,OJIP,OJIP,NPQ3,...,NPQ2,NPQ2,NPQ2,LC3,OJIP,OJIP,LC3,NPQ1,NPQ3,NaN
2,11,1105,NaN,390,390,390,NaN,390,390,NaN,...,NaN,NaN,NaN,NaN,390,390,NaN,NaN,NaN,NaN
3,21,10305,NaN,10566,10696,10208,NaN,10501,10143,NaN,...,NaN,NaN,NaN,NaN,8582,13231,NaN,NaN,NaN,NaN
4,31,10436,NaN,10891,10988,10533,NaN,10793,10468,NaN,...,NaN,NaN,NaN,NaN,8875,13654,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,157054301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8193,NaN,NaN
1051,158061901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8128,NaN,NaN
1052,159069501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8063,NaN,NaN
1053,160077101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8062,NaN,NaN
1054,161084701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7965,NaN,NaN

In [ ]:
df_FluorPen.columns = df_FluorPen.loc[1,:]

In [ ]:
df_PF = df_FluorPen[3:459].drop(['NPQ3', 'NPQ1', 'NPQ2', 'LC3'], axis = 1)

In [ ]:
cmap = np.concatenate((np.repeat('old', 17),
                          np.repeat('bakla', 2),
                          np.repeat('lupina', 6),
                          np.repeat('echemik', 13),
                          np.repeat('bakla', 3),
                          np.repeat('lupina', 2),
                          np.repeat('saflor', 11),
                          np.repeat('lablab', 3),
                          np.repeat('falaris', 8),
                          np.repeat('trigonela', 8),
                          np.repeat('lupina', 100),

                       np.repeat('bakla', 2),
                                                  ), axis=None)

In [ ]:

cmap = np.concatenate((np.repeat('old', 17),
                          np.repeat('bakla', 2),
                          np.repeat('lupina', 6),
                          np.repeat('echemik', 13),
                          np.repeat('bakla', 3),
                          np.repeat('lupina', 2),
                          np.repeat('saflor', 11),
                          np.repeat('lablab', 3),
                          np.repeat('falaris', 8),
                          np.repeat('trigonela', 8),
                          np.repeat('251/18', 11),
                          np.repeat('1', 8),
                          np.repeat('251/3b', 6),
                          np.repeat('251/8', 5),
                          np.repeat('251/3p', 5),
                       np.repeat('125/20', 5),
                       np.repeat('254/11', 5),
                       np.repeat('254/17', 5),
                       np.repeat('125/16', 5),
                       np.repeat('25/15', 5),
                       np.repeat('425/12', 5),
                       np.repeat('425/18', 5),
                       np.repeat('254/4', 5),
                       np.repeat('425*25', 5),
                       np.repeat('6', 5),
                       np.repeat('28/1', 5),
                       np.repeat('28/15', 5),
                       np.repeat('4', 5),
                       np.repeat('bakla-z', 2),
                                                  ), axis=None)

In [ ]:
df_PF.columns = cmap
df_PF

,old,old,old,old,old,old,old,old,old,old,...,lupina,lupina,lupina,lupina,lupina,lupina,lupina,lupina,bakla,bakla
3,21,10305,10566,10696,10208,10501,10143,8810,8680,14337,...,9525,8452,9850,9883,10208,8777,9168,8582,13231,NaN
4,31,10436,10891,10988,10533,10793,10468,8973,8810,14662,...,9720,8615,10045,10078,10403,8940,9330,8875,13654,NaN
5,41,10598,11216,11281,10891,11086,10793,9135,8973,15020,...,9883,8777,10273,10273,10598,9103,9558,9103,14077,NaN
6,51,10728,11541,11573,11248,11411,11151,9298,9103,15345,...,10078,8940,10468,10468,10826,9265,9753,9395,14499,NaN
7,61,10891,11899,11899,11638,11768,11541,9493,9233,15670,...,10273,9103,10696,10663,11021,9460,9948,9720,14922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,1951621,25423,42849,47336,47043,48116,49319,46458,44637,42231,...,46035,41711,52765,46003,50652,48376,48603,40443,37875,NaN
455,1961621,25423,42816,47303,47043,48083,49286,46425,44605,42231,...,46003,41679,52765,45970,50619,48343,48603,40411,37907,NaN
456,1971621,25391,42751,47303,46978,48083,49286,46425,44605,42199,...,46003,41679,52765,45970,50652,48343,48636,40378,37907,NaN
457,1981621,25391,42751,47303,46945,48083,49286,46425,44605,42199,...,46035,41679,52732,45970,50619,48343,48603,40378,37940,NaN
458,1991621,25391,42686,47270,46913,48051,49254,46425,44572,42166,...,46003,41679,52765,45970,50619,48311,48603,40378,37940,NaN

In [ ]:
df_PF = df_PF.drop(['old'], axis=1)

In [ ]:
df_n = pd.concat((df_PF,df_PF), axis=1)
df_n.shape

(456, 316)

In [ ]:
df_n.columns

Index(['bakla', 'bakla', 'lupina', 'lupina', 'lupina', 'lupina', 'lupina',
       'lupina', 'echemik', 'echemik',
       ...
       'lupina', 'lupina', 'lupina', 'lupina', 'lupina', 'lupina', 'lupina',
       'lupina', 'bakla', 'bakla'],
      dtype='object', length=316)

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

from keras.utils.np_utils import to_categorical

y = df_n.columns
y = LabelEncoder().fit(y).transform(y)
print(y.shape)

X = df_n.T.astype('float32')
print(X.shape)

y_cat = to_categorical(y)
print(y_cat.shape)

(316,)
(316, 456)
(316, 7)

In [ ]:
df = np.array(X)
df.reshape(-1, 456, 1)
df.shape
type(df)

numpy.ndarray

In [ ]:
from keras.models import Sequential

#model = Sequential()
from keras.layers.convolutional import Conv1D
from keras.layers import Dense
from keras.layers.convolutional import MaxPooling1D
from keras.layers import Flatten
from keras.layers import Dropout

model = Sequential([
    Dense(128, activation='tanh',input_shape=(456,)),
    Dropout(0.5),
    Dense(128, activation='tanh'),
    Dropout(0.5),
    Dense(7, activation='softmax'),

    #Dense(7, activation = 'softmax')

])

model.compile(optimizer='Adam',
                  loss='categorical_crossentropy',
                  metrics=['accuracy'])

'''

  Conv1D(filters=40, kernel_size=4, activation = 'relu', input_shape=(456, 1)),

  Flatten(),
  Dropout(0.4),
  Dense(20, activation='relu'),
  Dense(10, activation='relu'),

  Dense(7, activation = 'softmax')
'''
'''
    Conv1D(filters=32, kernel_size=4, activation = 'relu', input_shape = (456, 1)),

    Conv1D(16, kernel_size=2, activation = 'relu'),
    Dropout(0.2),
    MaxPooling1D(pool_size=2),
    #Conv1D(64, kernel_size=30, activation = 'relu', padding = 'Same'),
    Flatten(),
    Dense(100, activation = 'relu'),

    Dense(7, activation = 'softmax')'''

'''
model.add(Dense(1024, input_dim=192, activation='tanh')) #init='uniform',
model.add(Dropout(0.2))
model.add(Dense(1024, activation='sigmoid'))
model.add(Dropout(0.1))
model.add(Dense(99, activation='softmax'))
'''
#model.compile(loss='categorical_crossentropy',optimizer='rmsprop', metrics = ["accuracy"])
model.summary()

Model: "sequential_15"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_43 (Dense)            (None, 128)               58496

 dropout_19 (Dropout)        (None, 128)               0

 dense_44 (Dense)            (None, 128)               16512

 dropout_20 (Dropout)        (None, 128)               0

 dense_45 (Dense)            (None, 7)                 903

=================================================================
Total params: 75,911
Trainable params: 75,911
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(df, y_cat, batch_size=189, epochs=3)

Epoch 1/3
2/2 [==============================] - 2s 19ms/step - loss: nan - accuracy: 0.1582
Epoch 2/3
2/2 [==============================] - 0s 26ms/step - loss: nan - accuracy: 0.0443
Epoch 3/3
2/2 [==============================] - 0s 23ms/step - loss: nan - accuracy: 0.0443